@import '~/assets/styles/_colors.scss';
@import '~/assets/styles/_globalVars.scss';

.button {
  width: 80%;
  padding: 1.6vh 0;
  background: $color_primary;
  border-radius: 50px;
  margin: 0 auto;

  &:hover {
    background: $color_primary_soft;
    box-shadow: 0 1vh 3vh rgba($color_primary, 0.3);
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }

  &:disabled {
    cursor: default;
    background: transparent;
    color: $color_light_hard;

    &:hover {
      transform: none;
      box-shadow: none;
      background: inherit;
    }
  }
}

@media all and (min-width: 280px) and (max-width: 679px) and (orientation: portrait) {
  .button {
    width: 100%;
    padding: 2.5vh 0;
  }
}

@media all and (min-height: 280px) and (max-height: 679px) and (orientation: landscape) {
  .button {
    width: 100%;
    margin: 3vw 0;
    padding: 2.5vw 0;
  }
}
