@import '~/assets/styles/_colors.scss';
@import '~/assets/styles/_globalVars.scss';

.input {
  display: flex;
  flex-direction: column;

  & .innerHolder {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin-top: 0.5vh;
    border: $border;
    border-radius: calc(#{$radius} * 2);

    & .icon {
      flex: 23;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(((#{$space} / 35) + 7px) * 1.25);
      text-align: center;
      background: $color_light;
      color: $color_dark;
      height: 100%;
      border-right: 1px solid $color_light_hard;
    }

    & input {
      flex: 77;
      width: inherit;
      letter-spacing: -0.01em;
      background: transparent;
      padding: 0 1vw;

      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
