@import '~/assets/styles/_colors.scss';
@import '~/assets/styles/_globalVars.scss';

.mainHeader {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $color_light_soft;
  padding: 2.5vh $base_padding_hor 1.5vh;

  & img {
    height: $logo_height;
  }
}
