$color_primary: #1b31a8;
$color_primary_soft: #0079ff;
$color_dark_hard: #1c1e1f;
$color_dark: #657786;
$color_dark_soft: #aab8c2;
$color_light_hard: #e1e8ed;
$color_light: #f4f8fa;
$color_light_soft: #ffffff;
