@import '~/assets/styles/_colors.scss';
@import '~/assets/styles/_globalVars.scss';

$p: calc((#{$space} / 35) + 7px);

body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & * {
    box-sizing: border-box;
    color: $color_dark_hard;
    outline: none;
  }

  * strong,
  small {
    color: inherit;
  }

  & img,
  button {
    user-select: none;
  }

  & p,
  h1,
  h2,
  h3,
  h4,
  h5,
  input,
  small,
  label,
  ul,
  li,
  button {
    margin: 0;
    padding: 0;
    border: 0;
  }

  & li {
    list-style: none;
  }

  & label {
    font-size: $p;
    user-select: none;
  }

  & p {
    font-size: $p;
    line-height: 1.2em;
  }
  & h1 {
    font-size: calc(#{$p} * 2.5);
    font-weight: normal;
    line-height: 1.2em;
  }
  & h2 {
    font-size: calc(#{$p} * 2);
    font-weight: 600;
    line-height: 1.2em;
  }
  & h3 {
    font-size: calc(#{$p} * 1.5);
    font-weight: normal;
    line-height: 1.2em;
  }
  & h4 {
    font-size: calc(#{$p} * 1.25);
    font-weight: 600;
    line-height: 1.2em;
  }
  & h5 {
    font-size: calc(#{$p} * 1.13);
    font-weight: 500;
    line-height: 1.2em;
  }
  & input {
    font-size: calc(#{$p} * 1.25);
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  & button,
  a {
    cursor: pointer;
  }

  & button {
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(#{$p} * 1.13);
    font-weight: 600;
    background: transparent;
    color: white;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 0.04em;
    transition: all 0.2s ease-in-out;
  }
}

.origin {
  width: 100%;
  background: $color_light;

  & .column {
    display: flex;
    flex-flow: column;
  }

  & .row {
    display: flex;
    flex-flow: row;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (min-width: 280px) and (max-width: 679px) {
}
